<mat-toolbar class="fxLayout-dark" *ngIf="shareData.userData!== undefined; else guestToolbar">
    <div class="fxLayout" (click)="navigateToMain()">
        <img logo src="assets/Image/log_View.png" alt="icon" />
        <span>View</span>
    </div>
    <div>
        <div class="button_fx">
            <div class="profile-picture">
                <img logo (click)="navigateProfile()" src="{{shareData.userData.image}}" alt="icon" />
            </div>
            <div class="logo-container">
                <button (click)="navigateTop()" mat-button color="basic" class="bt-span">
                    <mat-icon class="icon-margin">emoji_events</mat-icon>
                    Top10
                </button>
            </div>

            <button mat-flat-button type="submit" color="basic" class="mat-bt logout" (click)="navigateToLogin()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </div>
    </div>
</mat-toolbar>

<ng-template #guestToolbar>
    <mat-toolbar class="fxLayout-dark">
        <div class="fxLayout">
            <img logo src="assets/Image/log_View.png" alt="icon" />
            <span>View</span>
        </div>
        <div class="button_fx">
            <div class="profile-picture">
                <img logo (click)="navigateToMain()" src="../../../assets/Image/catavatar.png" alt="icon" />
            </div>
            <div class="logo-container">
                <button (click)="navigateToMain()" mat-button color="basic" class="bt-span">
                    <mat-icon class="icon-margin">home</mat-icon>
                    Home
                </button>
            </div>

            <button mat-flat-button type="submit" color="basic" class="mat-bt logout" (click)="navigateToLogin()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </div>
    </mat-toolbar>
</ng-template>

<div class="vote-con">
    <h1>User Profile</h1>
    <div class="item">
        <img class="logo" src="{{userData?.image}}" alt="image">
        <div class="detail">
            <span class="Username">{{userData?.username}}</span>
            <div class="user-info">
                <img class="icon_img" src="../../../../assets/Image/image.png">
                <span class="pic_count">{{ imageCount }} รูป</span>
            </div>
            <span class="follow">{{ userData?.type }}</span>
        </div>
    </div>
    <hr style="margin-top: 20px; border: 1px solid #384D6C; border-radius: 20px;">

    <div class="item">
        <div class="user-p">
            <img class="icon_u" src="../../../../assets/Image/gallery.png">
            <span class="pic_co">Picture by {{shareData.userData?.username}}</span>
        </div>
    </div>
    <div class="image_user">
        <div class="container">
            <div class="picvote1" [ngClass]="{'single-image': images.length === 1}">
                <div class="image-wrapper" *ngFor="let image of images">
                    <!-- <div class="image-rank">
                        <div>
                            <img src="../../../../assets/Image/arrow-up.png" alt="Rank Up">
                            <img *ngIf="imageUrl.rankDiff < 0" src="../../../../assets/Image/arrow-down.png"
                                alt="Rank Down">
                            <img *ngIf="imageUrl.rankDiff === 0" src="../../../../assets/Image/NoUpDown.png"
                                alt="No Rank">
                        </div>
                        <span class="rank-ud"
                            [ngStyle]="{'color': imageUrl.rankDiff < 0 ? 'red' : (imageUrl.rankDiff > 0 ? 'green' : 'blue')}">{{imageUrl.rankDiff}}</span>
                    </div> -->

                    <div class="image-overlay">
                        <i class="material-icons" (click)="navigateChart(image.imageID)">query_stats</i>
                    </div>
                    <img [src]="image.url" [alt]="'ภาพที่ ' + image.imageID">
                </div>
            </div>
        </div>
    </div>
</div>