<mat-toolbar class="fxLayout-dark" *ngIf="shareData.userData!== undefined; else guestToolbar">
    <div class="fxLayout">
        <img logo src="assets/Image/log_View.png" alt="icon" />
        <span>View</span>
    </div>
    <div>
        <div class="button_fx">
            <div class="logo-container">
                <img logo (click)="navigateProfile()" src="{{shareData.userData.image}}" alt="icon" />
                <span (click)="navigateTomain()">Vote</span>
                <span>Rating</span>
                <button mat-button style="background-color: red;" (click)="navigateToLogin()">Sign out</button>
            </div>
        </div>
sgshshs
    </div>
</mat-toolbar>

<div class="top-container">
    <h1>Top 10 most voted scenic views.</h1>
    <div class="img-grid">
        <div class="item" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8,9,10]">
            <img [src]="'https://s359.kapook.com/r/600/auto/pagebuilder/87ab33ae-8dca-487d-ac86-779086de65e0.jpg'" alt="">
            <h2>putawan</h2>
          </div>
    </div>
</div>

<ng-template #guestToolbar>
    <mat-toolbar class="fxLayout-dark">
        <div class="fxLayout">
            <img logo src="assets/Image/log_View.png" alt="icon" />
            <span>View</span>
        </div>
        <div>
            <div class="button_fx">
                <div class="logo-container">
                    <img logo (click)="navigateProfile()" src="../../../../assets/Image/guest.png" alt="icon" />
                    <span (click)="navigateTomain()">Vote</span>
                    <span>Rating</span>
                    <button mat-button style="background-color: #07d600;"
                        (click)="navigateToLogin()">Sign in</button>
                </div>
            </div>

        </div>
    </mat-toolbar>
</ng-template>