.fxLayout-dark {
  width: 100%;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #22292d;
  padding: 0 20px;
  font-family: "Anonymous Pro", monospace;
}

.fxLayout {
  align-items: center;
  display: flex;
  img {
    height: 60px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  span {
    font-size: 36px;
    color: #dfb370;
  }
  cursor: pointer;
}

.button_fx {
  flex-direction: row;
  align-items: center;
  display: flex;

  img[logo] {
    height: 30px;
    padding-bottom: 5px;
    padding-right: 10px;
  }
  gap: 15px;
  cursor: pointer;

  button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
  }
  button:hover {
    transform: scale(1.1);
  }

  .bt-span {
    color: white !important;
    font-family: "Anonymous Pro", monospace !important;
  }

  // .logo-container {
  //   display: flex;
  //   align-items: center;
  // }

  .profile-picture {
    flex-direction: row;
    align-items: center;
    display: flex;
    img[logo] {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 100%;
      background-color: white;
      padding: 5px;
    }

    img:hover {
      outline: 2px solid wheat;
    }
  }

  .login {
    background-color: #07d600 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .signout {
    background-color: #ff4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .logout {
    background-color: #ff4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }
}

.TextHead {
  font-size: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.top-container {
  width: 1280px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-weight: bolder;
  }
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  justify-content: center;
  gap: 60px;
}

.img-grid img {
  width: 105%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.leaderboard {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.leaderboard .item {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}

.leaderboard img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  display: flex;
}

.image-container {
  position: relative;
}

.rank-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.rank-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.rank-icon-container img,
.rank-container img {
  width: 100%;
  height: 100%;
}


.text-container {
  flex-grow: 1;
  padding: 0 20px;
}

.text-container h2 {
  margin: 0;
}
