<mat-toolbar class="fxLayout-dark">
    <div class="button_fx">
        <div class="logo-container">
            <img logo src="assets/Image/top-10.png" alt="icon" />
            <span>Top10</span>
        </div>
        <div class="logo-container">
            <img logo src="assets/Image/image.png" alt="icon" />
            <span>Rating</span>
        </div>
        <div class="profile-picture">
            <img src="https://lh4.googleusercontent.com/proxy/9IFeoAs8c7jtGJnx13YQ8JUwJAU8AXYu4GrksK3PwypSlLWuKumItsM8gSXsPlKIjmLLhG4WHZC4CnbbmI8_3DAniJzwYFs3PBHxKh3coiPOaeXa8klssaELctSiN348_xjTFQrdRbr1IXRWoS3MG9lQm8A" alt="Profile Picture" />
        </div>
    </div>  
</mat-toolbar>