.fxLayout-dark {
    width: 100%;
    height: 64px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #22292d;
    padding: 0 20px;
}

.fxLayout {
    align-items: center;
    display: flex;

    img {
        
        height: 40px;
        padding-bottom: 5px;
        padding-right: 5px;
    }

    span {
        font-size: 32px;
        color: #dfb370;
    }

    cursor: pointer;
}

.button_fx {
    flex-direction: row;
    align-items: center;
    display: flex;
    overflow: hidden;

    img[logo] {
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 100%;
        background-color: white;
        padding: 5px;
    }

    img:hover {
        outline: 3px solid wheat;
    }


    span {
        font-size: 20px;
        color: #ffffff;
        font-weight: lighter;

    }

    button{
        font-size: 16px;
        padding: 7px;
        margin: 0 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s ease;
      }
      button:hover{
        transform: scale(1.1);
      }


    gap: 40px;
    cursor: pointer;
}

.logo-container {
    padding: 5px;
    display: flex;
    align-items: center;

    i {
        margin: 0 1rem;
    }

    span {
        font-weight: lighter;
        margin: 0 1rem;
        padding: 3px 8px;
        border-radius: 7px;
        transition: .2s ease;
    }

    span:hover {
        border-radius: 7px;
        background-color: grey;
        color: black;
    }



}

.mat-bt {
    font-size: 14px;
    color: white;
    font-weight: bolder;
    margin-right: 1rem;
    border-radius: 7px;
    padding: 3px 15px;
    transition: .2s ease;
    margin: 0 1rem;
}

.mat-bt:hover {
    background-color: wheat;
    color: white;
}

.TextHead {
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.views-container {
    display: flex;
    justify-content: center;
}

.view-item {
    text-align: center;
    margin: 0 10px;
}

.view-item img {
    width: 90%;
    height: 80%;
    background-position: center;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
}

.view-description {
    font-size: 20px;
    color: #000000;
    display: block;
    margin-top: 10px;
}

.custom-OrImage {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

.custom-OrImage img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    cursor: pointer;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    // border: 1px solid #ccc;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.top-container {
    width: 1280px;
    margin: 50px auto;
    text-align: center;
    

    h1 {
        font-weight: bolder;
    }
}

.img-grid {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 5px;

    img{
        width: 600px;
        height: 350px;
        object-fit: cover;
    }
}