<mat-toolbar class="fxLayout-dark" *ngIf="shareData.userData!== undefined; else guestToolbar">
    <div class="fxLayout" (click)="navigateToMain()">
        <img logo src="assets/Image/log_View.png" alt="icon" />
        <span>View</span>
    </div>
    <div class="button_fx">
        <div class="profile-picture">
            <img logo (click)="navigateProfile()" src="{{shareData.userData?.image}}" alt="icon" />
        </div>
        <div class="logo-container">
            <button (click)="navigateTop()" mat-button color="basic" class="bt-span">
                <mat-icon class="icon-margin">emoji_events</mat-icon>
                Top10
            </button>
        </div>

        <div class="logo-container">
            <button mat-button color="basic" class="bt-span">
                <mat-icon class="icon-margin">star</mat-icon>
                Rating
            </button>
        </div>
        <button mat-flat-button type="submit" color="basic" class="mat-bt logout" (click)="navigateToLogin()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
        </button>
    </div>
</mat-toolbar>

<div class="top-container">
    <h1>Top 10 most voted scenic views.</h1>
    <div class="img-grid">
        <div class="item" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8,9,10]">
            <img [src]="'https://s359.kapook.com/r/600/auto/pagebuilder/87ab33ae-8dca-487d-ac86-779086de65e0.jpg'"
                alt="">
            <h2>putawan</h2>
        </div>
    </div>
</div>

<ng-template #guestToolbar>
    <mat-toolbar class="fxLayout-dark" (click)="navigateToMain()">
        <div class="fxLayout">
            <img logo src="assets/Image/log_View.png" alt="icon" />
            <span>View</span>
        </div>
        <div class="button_fx">
            <div class="profile-picture">
                <img logo (click)="navigateTomain()" src="../../../assets/Image/catavatar.png" alt="icon" />
            </div>
            <div class="logo-container">
                <button (click)="navigateTop()" mat-button color="basic" class="bt-span">
                    <mat-icon class="icon-margin">emoji_events</mat-icon>
                    Top10
                </button>
            </div>

            <div class="logo-container">
                <button mat-button color="basic" class="bt-span">
                    <mat-icon class="icon-margin">star</mat-icon>
                    Rating
                </button>
            </div>

            <button mat-flat-button type="submit" class="login" color="basic" (click)="navigateToLogin()">
                <mat-icon class="icon-margin">login</mat-icon>
                Sign In
            </button>

            <button mat-flat-button type="submit" class="signout" color="basic" (click)="navigateToSignUp()">
                <mat-icon class="icon-margin">person_add</mat-icon>
                Sign Up
            </button>
        </div>
    </mat-toolbar>
</ng-template>