<div class="container">
  <div class="title-container">
    <img src="../../../../../assets/Image/computer.png" alt="Password Icon" class="icon-password">
    <p class="title">Change Password</p>
  </div>
  <div class="row" style="justify-content: flex-start;">
    <p class="H_text">Old Password:</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput type="text" id="oldPassword" #oldPassword>
    </mat-form-field>

    <p class="H_text">New Password:</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Enter your new password</mat-label>
      <input matInput type="text" id="newPassword" #newPassword>
    </mat-form-field>

    <p class="H_text">Confirm New Password:</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Confirm your new password</mat-label>
      <input matInput type="text" id="confirmPassword" #confirmPassword>
    </mat-form-field>
  </div>
  <div class="button-container">
    <button mat-flat-button color="basic" class="custom-button cancel-button">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-flat-button color="primary" class="custom-button edit-button" (click)="changePassword(oldPassword.value , newPassword.value , confirmPassword.value)">
      <mat-icon>check_circle</mat-icon> Submit
    </button>
  </div>
</div>