<mat-toolbar class="fxLayout-dark">
    <div class="fxLayout" (click)="navigateToMain()">
        <img logo src="assets/Image/log_View.png" alt="icon" />
        <span>View</span>
    </div>
    <div>
        <div class="button_fx">
            <div class="profile-picture">
                <img logo (click)="navigateProfile()" src="{{shareData.userData?.image}}" alt="icon" />
            </div>
            <div class="logo-container">
                <button mat-button color="basic" class="bt-span">
                    <mat-icon class="icon-margin">emoji_events</mat-icon>
                    Top10
                </button>
            </div>
            <button mat-flat-button type="submit" color="basic" class="mat-bt logout" (click)="navigateToLogin()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </div>
    </div>
</mat-toolbar>

<div class="vote-con">
    <h2>Picture_ID</h2>
    <div class="img-con">
        <div class="chart-container">
            <canvas id="MyChart">{{ chart }}</canvas>
        </div>
    </div>