<mat-toolbar class="fxLayout-dark">
    <div class="fxLayout">
        <img logo src="assets/Image/log_View.png" alt="icon" />
        <span>View</span>
    </div>
    <div>
        <div class="button_fx">
            <div class="profile-picture">
                <img logo src="{{shareData.userData?.image}}" alt="icon" />
            </div>
            <div class="logo-container">
                <button (click)="navigateTop()" mat-button color="basic" class="bt-span">
                    <mat-icon class="icon-margin">emoji_events</mat-icon>
                    Top10
                </button>
            </div>


            <button mat-flat-button type="submit" color="basic" class="mat-bt logout" (click)="navigateToLogin()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </div>
    </div>
</mat-toolbar>

<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <header class="header">
            <div class="container-fluid">
                <h1>All User</h1>
                <p>All user data including all data</p>
            </div>
        </header>
        <div class="container-fluid">
            <div class="card shadow border-0 mb-7">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="table-header">UserID</th>
                            <th scope="col" class="table-header">Name</th>
                            <th scope="col" class="table-header">Email</th>
                            <th scope="col" class="table-header">Amount Picture</th>
                            <th class="table-header" style="text-align: right;">
                                <div class="d-flex align-items-center justify-content-center">
                                    <input type="text" placeholder="Enter time set" class="form-control mr-2 w-50">
                                    <a class="btn btn-outline-success w-40 text-center" style="font-size: 12px;">Set
                                        Time</a>
                                </div>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let member of user">
                            <td class="table-data">{{member.userID}}</td>
                            <td (click)="navigateToViewProfile(member.userID)">
                                <img alt="..." [src]="sanitizeUrl(member.image)"
                                    class="avatar avatar-sm rounded-circle me-2">
                                <a class="text-heading font-semibold">{{member.username}}</a>
                            </td>
                            <td class="table-data">{{member.email}}</td>
                            <td class="table-data">{{getImageCount(member.userID)}}</td> <!-- Display image count -->
                            <td class="text-end">
                                <a class="btn btn-sm btn-neutral"
                                    (click)="navigateToViewProfile(member.userID)">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>