@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

.fxLayout-dark {
  width: 100%;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #22292d;
  padding: 0 20px;
  font-family: "Anonymous Pro", monospace;
}

.fxLayout {
  align-items: center;
  display: flex;
  img {
    height: 60px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  span {
    font-size: 36px;
    color: #dfb370;
  }
  cursor: pointer;
}

.button_fx {
  flex-direction: row;
  align-items: center;
  display: flex;

  img[logo] {
    height: 30px;
    padding-bottom: 5px;
    padding-right: 10px;
  }
  gap: 15px;
  cursor: pointer;

  button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
  }
  button:hover {
    transform: scale(1.1);
  }

  .bt-span {
    color: white !important;
    font-family: "Anonymous Pro", monospace !important;
  }

  // .logo-container {
  //   display: flex;
  //   align-items: center;
  // }
  

  .profile-picture {
    flex-direction: row;
    align-items: center;
    display: flex;
    img[logo] {
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 100%;
      background-color: white;
      padding: 5px;
    }

    img:hover {
      outline: 2px solid wheat;
    }
  }

  .login {
    background-color: #07d600 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .signout {
    background-color: #ff4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .logout {
    background-color: #ff4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }
}

body {
  font-family: "Anonymous Pro", monospace;
}

.d-flex {
  font-family: Anonymous Pro, monospace;
}

.header{
  padding-top: 50px;
  padding-bottom: 30px;
}

.container-fluid {
  padding: 0 100px;
}

.container-fluid p {
  font-size: 22px;
}

.table-header {
  font-size: 18px;
  font-weight: bolder;
}

.table-data {
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
}



.text-heading {
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
}

a.btn {
  width: 70px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: lighter;
}

.icon-large {
  font-size: 26px;
}

.avatar {
  width: 45px;
  height: 45px;
  border: 2px solid #ccc;
  object-fit: cover;
  cursor: pointer;
}

.avatar:hover {
  outline: 2px solid wheat;
}
