<mat-toolbar class="fxLayout-dark">
    <div class="fxLayout">
        <img logo src="assets/Image/log_View.png" alt="icon" />
        <span>View</span>
    </div>
    <div>
        <!-- Display this when the user is not logged in -->
        <div class="button_fx">
            <div class="logo-container">
                <img logo src="assets/Image/top-10.png" alt="icon" />
                <span>Top10</span>
            </div>
            <span>Sign In</span>
            <button mat-button class="mat-bt">Sign Up</button>
        </div>
    </div>
</mat-toolbar>

<div class="TextHead">
    <span>Click Vote for Your Favorite View!</span>
</div>

<!-- <div class="views-container">
    <div class="view-item">
        <img src="{{imagePath}}" alt="Left View" />
        <span class="view-description">{{imageCredits[0]}}</span>
    </div>
    <div class="custom-OrImage">
        <img src="{{OrImage }}" alt="OrImage">
    </div>

    <div class="view-item">
        <img src="{{imagePath1}}" alt="Right View" />
        <span class="view-description">{{imageCredits[1]}}</span>
    </div>
</div> -->