<!-- <h2 mat-dialog-title>Vote Result</h2>

<mat-dialog-content>
    <div>
        <p>Winner: {{ winner.imageID }}</p>
        <p>Old Score: {{ winnerOldScore }}</p>
        <p>New Score: {{ winner.count }}</p>
        <p>Expected Score: {{ winnerExpectedScore }}</p>
    </div>

    <div>
        <p>Loser: {{ loser.imageID }}</p>
        <p>Old Score: {{ loserOldScore }}</p>
        <p>New Score: {{ loser.count }}</p>
        <p>Expected Score: {{ loserExpectedScore }}</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Close</button>
</mat-dialog-actions> -->





<head>
    <link
        href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Monoton|Press+Start+2P|Sigmar+One|Ultra"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row" style="justify-content: flex-start;">
            <p class="winner">WINNER!</p>
            <p class="title-score">Picture ID: &nbsp;{{ winner.imageID }} &nbsp;to win</p>
            <p class="on-score">Plus for Winner: {{ plus }}</p>
            <p class="on-score">Old Score: {{winnerOldScore}}</p>
            <p class="on-score">New Score: {{ winner.count }}</p>
            <p class="Rating">Rating : {{winnerExpectedScore}}</p>
        </div>
    </div>
    <div class="pic" style="padding-left: 100px;">
        <p class="loser">LOSER!</p>
        <p class="title-score">Picture ID: &nbsp;{{ loser.imageID }} &nbsp;to loss</p>
        <p class="on-score">Minus for Loser: {{ minus }}</p>
        <p class="on-score">Old Score: {{loserOldScore}}</p>
        <p class="on-score">New Score: {{ loser.count }}</p>
        <p class="Rating">Rating : {{loserExpectedScore}}</p>
    </div>
</body>