<h2 mat-dialog-title>Vote Result</h2>

<mat-dialog-content>
    <div>
        <p>Winner: {{ winner.imageID }}</p>
        <p>Old Score: {{ winnerOldScore }}</p>
        <p>New Score: {{ winner.count }}</p>
        <p>Expected Score: {{ winnerExpectedScore }}</p>
    </div>

    <div>
        <p>Loser: {{ loser.imageID }}</p>
        <p>Old Score: {{ loserOldScore }}</p>
        <p>New Score: {{ loser.count }}</p>
        <p>Expected Score: {{ loserExpectedScore }}</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>