<mat-toolbar class="fxLayout-dark">
    <div class="fxLayout">
        <img logo src="assets/Image/log_View.png" alt="icon" />
        <span>View</span>
    </div>
    <div class="button_fx">
        <div class="logo-container">
            <img logo src="assets/Image/top-10.png" alt="icon" />
            <span>Top10</span>
        </div>
        <div class="logo-container">
            <img logo src="assets/Image/image.png" alt="icon" />
            <span>Rating</span>
        </div>
        <div class="profile-picture">
            <img [src]="shareData.userData?.image" alt="Profile Picture" />
        </div>
        <p>{{shareData.userData?.username}}</p>
    </div>
</mat-toolbar>

<div class="TextHead">
    <span>Click Vote for Your Favorite View!</span>111558
    554faga
</div>

<!-- <div class="views-container">
    <div class="view-item">
        <img src="{{imagePath}}" alt="Left View" />
        <span class="view-description">{{imageCredits[0]}}</span>
    </div>
    <div class="custom-OrImage">
        <img src="{{OrImage }}" alt="OrImage">
    </div>

    <div class="view-item">
        <img src="{{imagePath1}}" alt="Right View" />
        <span class="view-description">{{imageCredits[1]}}</span>
    </div>
</div> -->