.fxLayout-dark {
  width: 100%;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #22292d;
  padding: 0 20px;
  font-family: "Anonymous Pro", monospace;
}

.fxLayout {
  align-items: center;
  display: flex;
  img {
    height: 60px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  span {
    font-size: 36px;
    color: #dfb370;
  }
  cursor: pointer;
}

.button_fx {
  flex-direction: row;
  align-items: center;
  display: flex;
 
  img[logo] {
    height: 30px;
    padding-bottom: 5px;
    padding-right: 10px;
  }
  gap: 15px;
  cursor: pointer;

  button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
  }
  button:hover {
    transform: scale(1.1);
  }

  .bt-span {
    color: white !important;
    font-family: "Anonymous Pro", monospace !important;
  }
  
  // .logo-container {
  //   display: flex;
  //   align-items: center;
  // }

  .profile-picture {
    flex-direction: row;
    align-items: center;
    display: flex;
    img[logo] {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 100%;
      background-color: white;
      padding: 5px;
    }

    img:hover {
      outline: 2px solid wheat;
    }
  }

  .login {
    background-color: #07d600 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .signout {
    background-color: #FF4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .logout {
    background-color: #FF4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }
}

.TextHead {
  font-size: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

// .views-container {
//   display: flex;
//   justify-content: center;
// }

// .view-item {
//   text-align: center;
//   margin: 0 10px;
// }

// .view-item img {
//   width: 90%;
//   height: 80%;
//   background-position: center;
//   border-radius: 5px;
//   background-size: cover;
//   cursor: pointer;
// }

// .view-description {
//   font-size: 20px;
//   color: #000000;
//   display: block;
//   margin-top: 10px;
// }

.custom-OrImage {
  // display: flex;
  // align-items: center;
  // padding-bottom: 100px;
}

.custom-OrImage img {
  width: 10px;
  height: 10px;
  background-size: cover;
  cursor: pointer;
}

.vote-con {
  margin-top: 50px;
  text-align: center;
}

.img-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  

  img {
    height: 400px;
    width: 600px;
    margin: 0 1rem;
    object-fit: cover;
    transition: 0.2s ease;
    cursor: pointer;
  }

  h3 {
    margin-top: 1rem;
  }

  img:hover {
    transform: scale(1.03);
  }

  .item h3 {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .item h3 mat-icon {
    padding: 0 5px;
  }

  .view-by-text {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: bolder;
  }
  
}
