.fxLayout-dark {
  width: 100%;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #22292d;
  padding: 0 20px;
  font-family: "Anonymous Pro", monospace;
}

.fxLayout {
  align-items: center;
  display: flex;
  img {
    height: 60px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  span {
    font-size: 36px;
    color: #dfb370;
  }
  cursor: pointer;
}

.button_fx {
  flex-direction: row;
  align-items: center;
  display: flex;

  img[logo] {
    height: 30px;
    padding-bottom: 5px;
    padding-right: 10px;
  }
  gap: 15px;
  cursor: pointer;

  button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
  }
  button:hover {
    transform: scale(1.1);
  }

  .bt-span {
    color: white !important;
    font-family: "Anonymous Pro", monospace !important;
  }

  // .logo-container {
  //   display: flex;
  //   align-items: center;
  // }

  .profile-picture {
    flex-direction: row;
    align-items: center;
    display: flex;
    img[logo] {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 100%;
      background-color: white;
      padding: 5px;
    }

    img:hover {
      outline: 2px solid wheat;
    }
  }

  .login {
    background-color: #07d600 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .signout {
    background-color: #ff4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .logout {
    background-color: #ff4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }
}

.TextHead {
  font-size: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

// .views-container {
//   display: flex;
//   justify-content: center;
// }

// .view-item {
//   text-align: center;
//   margin: 0 10px;
// }

// .view-item img {
//   width: 90%;
//   height: 80%;
//   background-position: center;
//   border-radius: 5px;
//   background-size: cover;
//   cursor: pointer;
// }

// .view-description {
//   font-size: 20px;
//   color: #000000;
//   display: block;
//   margin-top: 10px;
// }

.custom-OrImage {
  // display: flex;
  // align-items: center;
  // padding-bottom: 100px;
}

.custom-OrImage img {
  width: 10px;
  height: 10px;
  background-size: cover;
  cursor: pointer;
}

.vote-con {
  margin-top: 50px;
  text-align: center;
  font-family: "Anonymous Pro", monospace;
}

.img-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;

  img {
    height: 400px;
    width: 600px;
    margin: 0 1rem;
    object-fit: cover;
    transition: 0.2s ease;
    cursor: pointer;
  }

  h3 {
    margin-top: 1rem;
    font-family: "Anonymous Pro", monospace;
  }

  img:hover {
    transform: scale(1.03);
  }

  img:active {
    transform: scale(0.98);
  }

  .item h3 {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .item h3 mat-icon {
    padding: 0 5px;
  }

  .item span {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }

  .item span:hover {
    color: #0056b3;
  }

  .view-by-text {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: bolder;
  }
}

#switch {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 40px;
}


.toggle{
  position: absolute;
  border: 2px solid #444249;
  border-radius: 20px;
  -webkit-transition: border-color .6s  ease-out;
  transition: border-color .6s  ease-out;
  box-sizing: border-box;
}

.toggle.toggle-on{
  border-color: rgba(137, 217, 153, 0.4);
  -webkit-transition: all .5s .15s ease-out;
  transition: all .5s .15s ease-out;
}

.toggle-button{
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 39px;
  background-color: #444249;
  border-radius: 19px; 
  cursor: pointer;
  -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button{
  top: 3px;
  width: 65px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: #5fff59;
  box-shadow: 0 0 16px #5cb861;
  -webkit-transition: all .2s .1s, right .1s;
  transition: all .2s .1s, right .1s;
}


.toggle-text-on{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */    
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */


  color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on{
  color: #409657;
  -webkit-transition: color .3s .15s ;
  transition: color .3s .15s ;
}

.toggle-text-off{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  cursor: pointer;

  color: #444249;
}

.toggle-on .toggle-text-off{
  color: rgba(0,0,0,0);
}

/* used for streak effect */
.glow-comp{
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, .1);
  box-shadow: 0 0 12px rgba(75, 122, 141, .2);
  -webkit-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp{
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

