@font-face {
  font-family: "Good Timing";
  src: url('./assets/Font/good\ timing\ bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Anonymous Pro", monospace;
  background-color: #ECECEC;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
