.fxLayout-dark {
  width: 100%;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #22292d;
  padding: 0 20px;
  font-family: "Anonymous Pro", monospace;
}

.fxLayout {
  align-items: center;
  display: flex;
  img {
    height: 60px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  span {
    font-size: 36px;
    color: #dfb370;
  }
  cursor: pointer;
}

.button_fx {
  flex-direction: row;
  align-items: center;
  display: flex;

  img[logo] {
    height: 30px;
    padding-bottom: 5px;
    padding-right: 10px;
  }
  gap: 15px;
  cursor: pointer;

  button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
  }
  button:hover {
    transform: scale(1.1);
  }

  .bt-span {
    color: white !important;
    font-family: "Anonymous Pro", monospace !important;
  }

  // .logo-container {
  //   display: flex;
  //   align-items: center;
  // }

  .profile-picture {
    flex-direction: row;
    align-items: center;
    display: flex;
    img[logo] {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 100%;
      background-color: white;
      padding: 5px;
    }

    img:hover {
      outline: 2px solid wheat;
    }
  }

  .login {
    background-color: #07d600 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .signout {
    background-color: #ff4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }

  .logout {
    background-color: #ff4500 !important;
    font-family: "Anonymous Pro", monospace !important;
    font-weight: bolder;
  }
}

.TextHead {
  font-size: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.vote-con {
  margin: 30px 0;
  padding: 0 100px;
}

.item {
  flex-direction: row;
  align-items: center;
  display: flex;
  padding-top: 10px;
}
.logo {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
  background-color: white;
  padding: 5px;
}

.logo:hover {
  outline: 3px solid #384d6c;
}

.detail {
  padding: 0 30px;
}

.Username {
  font-size: 28px;
  font-weight: bolder;
}

.user-info {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.user-p {
  display: flex;
  align-items: center;
  .icon_u {
    height: 40px;
    width: auto;
    object-fit: cover;
    margin-right: 10px;
  }

  .pic_co {
    font-size: 22px;
    font-weight: 800;
  }
}

.icon_img {
  height: 30px;
  width: auto;
  object-fit: cover;
  margin-right: 10px;
}

.pic_count {
  font-size: 18px;
  font-weight: 300;
}

.follow {
  padding-top: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}

.buttons {
  margin-left: auto;
}

.custom-button {
  margin-left: 10px;
  width: 170px;
  height: 40px;
  border-color: #384d6c;
}

.custom-button[mat-stroked-button] {
  color: #384d6c;
}

.custom-bt {
  margin-left: 10px;
  width: 25px;
  height: 40px;
  align-items: center;
  color: #384d6c;
}


.custom-button[mat-flat-button] {
  background-color: #384d6c;
  color: #ffffff;
}

.image_user {
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.file-info {
  display: flex;
  align-items: center;
  color: #384D6C;
  margin-top: 10px; /* Adjust margin as needed */
}

.file-info mat-icon {
  margin-right: 5px; /* Adjust margin as needed */
  font-size: 18px; /* Adjust font size as needed */
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  gap: 15px;
  cursor: pointer;
}

.picvote1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-wrapper {
  position: relative;
  width: calc(33.33% - 10px);
  height: auto;
  overflow: hidden;
  margin: 5px;  
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image-wrapper:hover {
  filter: brightness(90%);
}

.image-wrapper:hover .image-overlay {
  opacity: 1; /* Show the overlay on hover */
}

.mat-icon {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  margin: 5px;
}

.change-icon:hover,
.select-icon:hover {
  color: #ff4500;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 3px;
}

.image-overlay img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 5px;
  
}

i.material-icons {
  font-size: 20px;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.5s ease;
}

i.material-icons:after {
  // content: "";
  width: 100%;
  height: 100%;
  border: solid 2px;
  transform: scale(0.8);
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

i.material-icons:hover:after {
  transform: scale(1);
}

i.material-icons:nth-of-type(1) {
  background-color: #f44336;
}

i.material-icons:nth-of-type(1):hover {
  color: #f44336;
  background-color: #ffffff;
}

i.material-icons:nth-of-type(1):after {
  border-color: #f44336;
}



i.material-icons:nth-of-type(2) {
  background-color: #45beff;
}

i.material-icons:nth-of-type(2):hover {
  color: #45beff;
  background-color: #ffffff;
}

i.material-icons:nth-of-type(2):after {
  border-color: #45beff;
}

i.material-icons:nth-of-type(3) {
  background-color: #ff8051;
}

i.material-icons:nth-of-type(3):hover {
  color: #ff8051;
  background-color: #ffffff;
}

i.material-icons:nth-of-type(3):after {
  border-color: #ff8051;
}


i.material-icons:nth-of-type(4) {
  background-color: #60e18d;
}

i.material-icons:nth-of-type(4):hover {
  color: #60e18d;
  background-color: #ffffff;
}

i.material-icons:nth-of-type(4):after {
  border-color: #60e18d;
}

.select-icon {
  transition: transform 0.3s ease, background-color 0.3s ease !important;
}

.select-icon.transformed:hover {
  color: rgb(255, 176, 31) !important;
}

.select-icon.transformed {
  transform: rotate(90deg);
  background-color: wheat !important;
}

i.material-icons:hover {
  background-color: transparent;
  transform: rotate(90deg);
  cursor: pointer;
  box-shadow: none;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.5em;
  overflow: hidden;
}

.loader .text {
  text-transform: capitalize;
}

.Loader .dots {
  display: flex;
  position: relative;
  top: 9px;
  left: -10px;
  width: 100px;
  animation: dots 2s ease infinite 1s;
}

.Loader .dots div {
  position: relative;
  width: 5px; /* Adjusted size */
  height: 5px; /* Adjusted size */
  border-radius: 50%;
  margin-right: 10px;
  background-color: black;
}

.Loader .dots div:nth-child(1) {
  width: 0px;
  height: 0px;
  margin: 4px; /* Adjusted margin */
  margin-right: 12px; /* Adjusted margin */
  animation: show_dot 4s ease-in-out infinite 1s;
}

.Loader .dots div:nth-child(5) {
  background-color: transparent;
  animation: dot_fall_left 4s linear infinite 1s;
}

.Loader .dots div:nth-child(5):before {
  position: absolute;
  width: 5px; /* Adjusted size */
  height: 5px; /* Adjusted size */
  margin-right: 10px;
  border-radius: 50%;
  background-color: black;
  content: "";
  animation: dot_fall_top 4s cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s;
}

@keyframes dots {
  0% {
      left: -10px;
  }
  20%, 100% {
      left: 10px;
  }
}

@keyframes show-dot {
  0%, 20% {
      width: 0px;
      height: 0px;
      margin: 4px; /* Adjusted margin */
      margin-right: 12px; /* Adjusted margin */
  }
  30%, 100% {
      width: 8px; /* Adjusted size */
      height: 8px; /* Adjusted size */
      margin: 0px;
      margin-right: 10px;
  }
}

@keyframes dot_fall_left {
  0%, 5% {
      left: 0;
  }
  100% {
      left: 200px;
  }
}

@keyframes dot_fall_top {
  0%, 5% {
      top: 0;
  }
  30%, 100% {
      top: 50vh;
  }
}
