.container {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Anonymous Pro", monospace !important;
}

.row {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 100%;
  background-color: white;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
}

.logo:hover {
  outline: 3px solid wheat;
}

.pic {
  width: 35%;
  height: 95%;
  overflow: hidden;
  background-image: url("https://pbs.twimg.com/media/GEf4xT_WQAARRO4?format=png&name=900x900");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.H_text {
  font-size: 16px;
  text-align: left;
  padding-top: 5px;
}

* {
  --mdc-outlined-text-field-outline-color: #696969 !important;
  --mdc-outlined-text-field-hover-outline-color: #696969 !important;
  --mdc-outlined-text-field-focus-outline-color: #696969 !important;
}

.inp {
  width: 400px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.custom-button {
  margin: 30px 0;
  width: 190px;
  height: 40px;
  transition: 0.3s ease;
  border: none;
  font-family: "Anonymous Pro", monospace !important;
  font-weight: bolder;
  color: white !important;
}

.edit-button {
  background-color: #37b437 !important;
}

.cancel-button {
  background-color: red !important;
}

.custom-button:hover {
  transform: scale(1.1);
}
