<div class="container">
  <div class="row" style="justify-content: flex-start;">
    <!-- <p style="color: black; font-size: 36px; text-align: left; font-weight: 400;">Login to VoteView</p> -->
    <input #inputField hidden type="file" (click)="inputField.value = ''" />
    <img class="logo" src="../../../../assets/Image/number-10.png" alt="image" (click)="inputField.click()">
    <p class="H_text">Username:</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Enter your username name</mat-label>
      <input matInput type="text" id="username" #username>
    </mat-form-field>


    <p class="H_text">Email:</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput type="password" id="password" #password>
    </mat-form-field>

    <p class="H_text">Confirm Password:</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Confirm your password</mat-label>
      <input matInput type="password" id="password2" #password2>
    </mat-form-field>
  </div>
  <div class="button-container">
    <button mat-flat-button color="basic" class="custom-button cancel-button">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-flat-button color="primary" class="custom-button edit-button">
      <mat-icon>check_circle</mat-icon> Submit
    </button>
  </div>  
</div>